doctype html
html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='http://terminal.jcubic.pl/js/jquery.terminal-0.8.7.min.js')
		script(src='https://raw.githubusercontent.com/HackShellApp/HackShellWeb/master/commands.js')
		script(src='https://gist.githubusercontent.com/caffeinewriter/efa9f1ca20f0eb841d35/raw/cd95a39a332f378e89c5c29e84314508d692a944/gistfile1.js')
	body
		#terminal
